Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [11]:
def symm(s):
    s1=list(str(s))
    print(s1)
    s2=s1[::-1]
    if(s2==s1):
        return True
    else:
        return False

In [12]:
symm(7277)

['7', '2', '7', '7']

False

In [13]:
symm(7227)

['7', '2', '2', '7']

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [17]:
def prod(st):
    l=st.split(',')
    ans=1
    for i in l:
        ans*=int(i)
    return ans

In [18]:
prod("2,3")

6

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [29]:
def sq(l):
    l_new=list(str(l))
    s_new=[]
    for i in l_new:
        s_new.append(str(int(i)*int(i)))
    return int(''.join(s_new))

In [30]:
sq(9119)

811181

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [31]:
def sort_dupl(l):
    return list(set(sorted(l)))

In [32]:
sort_dupl([2,3,4,2])

[2, 3, 4]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [37]:
def mean_l(l):
    l=list(str(l))
    s=0
    for i in l:
        s+=int(i)
    le=len(l)
    return int(s/le)

In [38]:
mean_l(12345)

3